* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
}

.row {
  display: flex;
}

.column-full {
  width: 100%;
}

.green {
  background: #298d27;
}

.car-size {
  width: 10rem;
  height: auto;
}

/* .rotate {
  transform: rotate(90deg);
} */
